
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
 
venv/
env/
.env

.dvcignore
.dvc.lock

src/data/parsed/*
src/data/parsed/*
src/data/parsed/*
src/data/parsed/*
src/data/parsed/*
